{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/pass.css' %}" />
    <link rel="icon" href="/static/images/profilePhoto.png">
</head>

<body>
    <div class="wrapper">
        <p class="ree">
            We've emailed you instructions for setting your password, if an account exist with you should receive them
            shortly.
            If you don't receive an email, please make sure you've entered the address you register and check your spam
            folder.
        </p>
    </div>
</body>

</html>