{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/pass.css' %}" />
    <link rel="icon" href="/static/images/profilePhoto.png">
</head>

<body>
    <div class="wrapper">
        <p class="ree">
            Your password has been set. You may go ahead and <a href="/loginn">Sign in</a>
        </p>
    </div>
</body>

</html>